.table-header {
    text-transform: uppercase !important;
    color: #8392AB !important;
    font-size: 0.65rem !important;
    font-weight: 700 !important;
    opacity: 0.7 !important;
}

.items-hover tr:hover {
    background-color: #E9E9E9 !important;
}