@model SMPSystem.Models.Product

@{
    ViewData["Title"] = "Cadastrar Produto";
}

<div class="container-fluid row">
    <h4>Cadastrar Produto</h4>
    <div class="col-12 col-lg-8 m-auto">
        <div class="card mr-0 mb-3">
            <form method="post">
                <div class="card-body row m-auto">
                    <div class="col-xl-6">
                        <input type="hidden" asp-for="Created" class="form-control" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Code" class="control-label"></label>
                            <input asp-for="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastUpdate" class="control-label"></label>
                            <input asp-for="LastUpdate" class="form-control" />
                            <span asp-validation-for="LastUpdate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ProviderId" class="control-label"></label>
                            <input asp-for="ProviderId" class="form-control" />
                            <span asp-validation-for="ProviderId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ProductSubGroupId" class="control-label"></label>
                            <input asp-for="ProductSubGroupId" class="form-control" />
                            <span asp-validation-for="ProductSubGroupId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProductGroupId" class="control-label"></label>
                            <input asp-for="ProductGroupId" class="form-control" />
                            <span asp-validation-for="ProductGroupId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProductGroupId" class="control-label">Grupo</label>
                            <select class="form-select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-footer py-0 row m-auto">
                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}