@model ICollection<ProductVm>

@{
    ViewData["Title"] = "Produtos";
}

<h6>Produtos</h6>
@if (Model.Any())
{
    <div>
        <h3>Product</h3>
        <hr />
        <table>
            <thead>
                <tr>
                    <td>Código</td>
                    <td>Nome</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<a class="btn bg-gradient-secondary mt-3" asp-action="Create">Cadastrar Produto</a>