<div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" style="display: initial;" id="sidenav-collapse-main">
    <ul class="navbar-nav mb-5">
        <li class="nav-item">
            <a data-bs-toggle="collapse" href="#productMenu" class="nav-link" aria-controls="productMenu" role="button" aria-expanded="false">
                <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                    <i class="fas fa-home" style="color: #454B77;"></i>
                </div>
                <span class="nav-link-text ms-1">Cadastros</span>
            </a>
            <div class="collapse " id="productMenu">
                <ul class="nav ms-4 ps-3">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Web" asp-controller="Provider" asp-action="Index">
                            <span class="sidenav-normal">Fornecedores</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Web" asp-controller="Group" asp-action="Index">
                            <span class="sidenav-normal">Grupos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Web" asp-controller="Subgroup" asp-action="Index">
                            <span class="sidenav-normal">Subgrupos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Web" asp-controller="Product" asp-action="Index">
                            <span class="sidenav-normal">Produtos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <a data-bs-toggle="collapse" href="#productionAdminMenu" class="nav-link" aria-controls="productionAdminMenu" role="button" aria-expanded="false">
                <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                    <i class="fas fa-home" style="color: #454B77;"></i>
                </div>
                <span class="nav-link-text ms-1">Cadastros Produção</span>
            </a>
            <div class="collapse" id="productionAdminMenu">
                <ul class="nav ms-4 ps-3">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Web" asp-controller="ProductionStep" asp-action="Index">
                            <span class="sidenav-normal">Operação</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Web" asp-controller="ProductProductionSteps" asp-action="Index">
                            <span class="sidenav-normal">Operações por produto</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Web" asp-controller="ProductStepDimension" asp-action="Index">
                            <span class="sidenav-normal">Cotas de Produto</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Web" asp-controller="ProductionOrder" asp-action="Index">
                            <span class="sidenav-normal">Ordem de produção</span>
                        </a>
                    </li>
                </ul>
            </div>

            <a data-bs-toggle="collapse" href="#measuringMenu" class="nav-link" aria-controls="measuringMenu" role="button" aria-expanded="false">
                <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                    <i class="fas fa-home" style="color: #454B77;"></i>
                </div>
                <span class="nav-link-text ms-1">Medidas</span>
            </a>
            <div class="collapse" id="measuringMenu">
                <ul class="nav ms-4 ps-3">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Web" asp-controller="MeasuringTool" asp-action="Index">
                            <span class="sidenav-normal">Instrumentos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <a data-bs-toggle="collapse" href="#productionMenu" class="nav-link" aria-controls="productionMenu" role="button" aria-expanded="false">
                <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                    <i class="fas fa-home" style="color: #454B77;"></i>
                </div>
                <span class="nav-link-text ms-1">Produção (Operar)</span>
            </a>
            <div class="collapse" id="productionMenu">
                <ul class="nav ms-4 ps-3">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Web" asp-controller="OrderOperatorUser" asp-action="StartProduction">
                            <span class="sidenav-normal">Iniciar Produção</span>
                        </a>
                    </li>
                </ul>
            </div>

            <a data-bs-toggle="collapse" href="#reportsArea" class="nav-link" aria-controls="productMenu" role="button" aria-expanded="false">
                <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                    <i class="fas fa-home" style="color: #454B77;"></i>
                </div>
                <span class="nav-link-text ms-1">Relatórios</span>
            </a>
            <div class="collapse" id="reportsArea">
                <ul class="nav ms-4 ps-3">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Home">
                            <span class="sidenav-normal">Relatório 1</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-action="Index">
                            <span class="sidenav-normal">Relatório 2</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>