<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link id="pagestyle" href="~/css/soft-ui-dashboard.css" rel="stylesheet" />


</head>

<body class="g-sidenav-show  bg-gray-100">
    <main class="main-content main-content-bg mt-0">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/soft-ui-dashboard.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>

