@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>SMP: sistema empresarial para controle e apontamento de produção.</p>
    <p>FATEC: Faculdade de tecnologia de Indaiatuba Dr. Archimendes Lamoglia</p>
    <p>Desenvolvido por: Lucas Amstalden Souza</p>
</div>
